<p id="notice"><%= notice %></p>

<h1>Couriers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @couriers.each do |courier| %>
      <tr>
        <td><%= courier.name %></td>
        <td><%= courier.email %></td>
        <td><%= link_to 'Show', courier %></td>
        <td><%= link_to 'Edit', edit_courier_path(courier) %></td>
        <td><%= link_to 'Destroy', courier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Courier', new_courier_path %>
